In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pytz import timezone
from datetime import datetime, timedelta
from skyfield import almanac, earthlib
from skyfield.api import Loader, Topos
import satpred

In [2]:
load = Loader('./data')

In [3]:
ts = load.timescale()
ephemeris = load('de421.bsp')
satellites = load.tle('http://celestrak.com/NORAD/elements/stations.txt', reload=True)

[#################################] 100% stations.txt

In [4]:
sun = ephemeris['sun']
earth = ephemeris['earth']
iss = satellites['ISS']
manhattan_beach_ca_usa = Topos(latitude='33.881519 N', longitude='118.388177 W', elevation_m=33)
pacific = timezone('US/Pacific')

In [5]:
d0 = datetime(2019, 6, 1, 0, 0)
t0 = ts.utc(pacific.localize(d0))
d1 = datetime(2019, 6, 11, 0, 0)
t1 = ts.utc(pacific.localize(d1))

In [6]:
columns = ['date', 'mag', 'start', 'start_alt', 'start_az', 'start_d', 'culm', 'culm_alt', 
         'culm_az', 'culm_d', 'end', 'end_alt', 'end_az', 'end_d']

In [7]:
df = satpred.passes(t0, t1, manhattan_beach_ca_usa, iss, earth, sun)

In [8]:
df[columns]

,date,mag,start,start_alt,start_az,start_d,culm,culm_alt,culm_az,culm_d,end,end_alt,end_az,end_d
0,2019-06-01,0.2,22:51:29,10,NW,1497,22:52:57,23,NW,921,22:52:57,23,NW,921
1,2019-06-02,-2.1,22:02:13,10,NNW,1496,22:05:17,34,NE,706,22:05:17,34,NE,706
2,2019-06-03,-1.7,21:13:08,10,NNW,1495,21:15:44,20,NNE,1014,21:17:40,13,ENE,1298
3,2019-06-03,0.0,22:49:23,10,WNW,1495,22:50:29,18,WNW,1101,22:50:29,18,WNW,1101
4,2019-06-04,-3.4,21:59:44,10,NW,1494,22:02:55,71,WSW,441,22:02:55,71,WSW,441
5,2019-06-05,-3.4,21:10:19,10,NW,1493,21:13:37,54,NE,511,21:15:24,24,ESE,914
6,2019-06-06,-1.6,21:57:59,10,WNW,1492,22:00:37,21,SW,984,22:00:46,21,SW,986
7,2019-06-07,-2.8,21:08:04,10,WNW,1492,21:11:16,42,SW,600,21:13:23,18,SSE,1087
8,2019-06-09,-0.9,21:06:59,10,W,1489,21:08:42,13,SW,1298,21:10:24,10,SSW,1487

In [9]:
df = satpred.passes(t0, t1, manhattan_beach_ca_usa, iss, earth, sun, visible=False)

In [10]:
columns = ['date', 'mag', 'start', 'start_alt', 'start_az', 'start_d', 'culm', 'culm_alt', 
         'culm_az', 'culm_d', 'end', 'end_alt', 'end_az', 'end_d', 'pass_type']

In [11]:
df[columns]

,date,mag,start,start_alt,start_az,start_d,culm,culm_alt,culm_az,culm_d,end,end_alt,end_az,end_d,pass_type
0,2019-06-01,-1.6,14:43:54,10,S,1468,14:46:44,27,SE,823,14:49:36,10,ENE,1479,daylight
1,2019-06-01,-0.8,16:20:37,10,W,1476,16:23:22,23,NW,909,16:26:08,10,NNE,1485,daylight
2,2019-06-01,-3.7,22:51:29,10,NW,1497,22:54:50,66,NE,455,22:58:10,10,SE,1494,visible
3,2019-06-02,-0.7,13:55:39,10,SSE,1468,13:57:27,14,SE,1255,13:59:15,10,E,1475,daylight
4,2019-06-02,-1.4,15:30:40,10,WSW,1472,15:33:49,41,NW,604,15:36:59,10,NNE,1483,daylight
5,2019-06-02,-2.5,22:02:13,10,NNW,1496,22:05:20,34,NE,706,22:08:26,10,ESE,1494,visible
6,2019-06-02,-1.8,23:39:27,10,W,1495,23:41:47,18,SW,1111,23:44:08,10,S,1491,eclipsed
7,2019-06-03,-1.8,14:41:02,10,SW,1469,14:44:20,84,NW,413,14:47:40,10,NE,1481,daylight
8,2019-06-03,-0.0,16:20:21,10,NW,1481,16:21:27,11,NNW,1408,16:22:33,10,N,1484,daylight
9,2019-06-03,-1.7,21:13:08,10,NNW,1495,21:15:44,20,NNE,1014,21:18:20,10,E,1495,visible
10,2019-06-03,-2.8,22:49:23,10,WNW,1495,22:52:28,34,SW,701,22:55:33,10,SSE,1491,visible
11,2019-06-04,-1.5,13:51:46,10,SSW,1467,13:54:55,45,SE,567,13:58:07,10,ENE,1479,daylight
12,2019-06-04,-0.6,15:29:29,10,WNW,1476,15:31:45,17,NNW,1126,15:34:02,10,NNE,1483,daylight
13,2019-06-04,-1.1,20:24:21,10,N,1494,20:26:04,13,NNE,1307,20:27:48,10,ENE,1494,daylight
14,2019-06-04,-3.9,21:59:44,10,NW,1494,22:03:05,73,SW,435,22:06:25,10,SE,1491,visible
15,2019-06-05,-0.6,13:02:57,10,S,1466,13:05:35,22,SE,942,13:08:14,10,ENE,1476,daylight
16,2019-06-05,-1.0,14:39:15,10,W,1473,14:42:08,27,NW,818,14:45:02,10,NNE,1482,daylight
17,2019-06-05,-3.4,21:10:19,10,NW,1493,21:13:37,54,NE,511,21:16:54,10,ESE,1491,visible
18,2019-06-05,-1.0,22:48:56,10,WSW,1492,22:49:54,11,SW,1434,22:50:52,10,SW,1490,eclipsed
19,2019-06-06,0.3,12:15:10,10,SE,1467,12:16:18,11,SE,1388,12:17:25,10,ESE,1471,daylight
20,2019-06-06,-1.4,13:49:22,10,WSW,1470,13:52:35,50,NW,526,13:55:50,10,NE,1480,daylight
21,2019-06-06,-2.3,20:21:06,10,NNW,1492,20:24:05,29,NE,794,20:27:03,10,E,1492,daylight
22,2019-06-06,-1.8,21:57:59,10,WNW,1492,22:00:37,21,SW,984,22:03:14,10,S,1489,visible
23,2019-06-07,-1.2,12:59:50,10,SW,1468,13:03:07,78,SE,419,13:06:26,10,NE,1478,daylight
24,2019-06-07,-0.4,14:38:36,10,WNW,1477,14:40:09,13,NNW,1330,14:41:42,10,N,1482,daylight
25,2019-06-07,-1.6,19:32:04,10,NNW,1491,19:34:27,18,NNE,1102,19:36:50,10,ENE,1491,daylight
26,2019-06-07,-2.8,21:08:04,10,WNW,1492,21:11:16,42,SW,600,21:14:27,10,SSE,1489,visible
27,2019-06-08,-0.4,12:10:40,10,SSW,1466,12:13:43,36,SE,664,12:16:47,10,ENE,1476,daylight
28,2019-06-08,-0.8,13:47:59,10,W,1474,13:50:28,19,NNW,1038,13:52:57,10,NNE,1481,daylight
29,2019-06-08,-1.1,18:43:27,10,N,1490,18:44:45,12,NNE,1386,18:46:04,10,NE,1491,daylight
30,2019-06-08,-3.7,20:18:29,10,NW,1491,20:21:50,90,NE,417,20:25:11,10,SE,1488,daylight
31,2019-06-09,0.2,11:22:01,10,S,1466,11:24:23,18,SE,1067,11:26:44,10,E,1473,daylight
32,2019-06-09,-1.2,12:57:51,10,WSW,1471,13:00:51,32,NW,728,13:03:53,10,NNE,1479,daylight
33,2019-06-09,-3.0,19:29:07,10,NW,1490,19:32:20,44,NE,583,19:35:33,10,ESE,1488,daylight
34,2019-06-09,-0.9,21:06:59,10,W,1489,21:08:42,13,SW,1298,21:10:24,10,SSW,1487,visible
35,2019-06-10,-1.1,12:08:03,10,SW,1469,12:11:19,62,NW,462,12:14:36,10,NE,1478,daylight
36,2019-06-10,-2.1,18:39:56,10,NNW,1489,18:42:46,25,NE,884,18:45:35,10,E,1488,daylight
37,2019-06-10,-1.7,20:16:32,10,WNW,1489,20:19:23,26,SW,861,20:22:13,10,S,1486,daylight

In [12]:
df[df['pass_type'] == 'visible'][columns]

,date,mag,start,start_alt,start_az,start_d,culm,culm_alt,culm_az,culm_d,end,end_alt,end_az,end_d,pass_type
2,2019-06-01,-3.7,22:51:29,10,NW,1497,22:54:50,66,NE,455,22:58:10,10,SE,1494,visible
5,2019-06-02,-2.5,22:02:13,10,NNW,1496,22:05:20,34,NE,706,22:08:26,10,ESE,1494,visible
9,2019-06-03,-1.7,21:13:08,10,NNW,1495,21:15:44,20,NNE,1014,21:18:20,10,E,1495,visible
10,2019-06-03,-2.8,22:49:23,10,WNW,1495,22:52:28,34,SW,701,22:55:33,10,SSE,1491,visible
14,2019-06-04,-3.9,21:59:44,10,NW,1494,22:03:05,73,SW,435,22:06:25,10,SE,1491,visible
17,2019-06-05,-3.4,21:10:19,10,NW,1493,21:13:37,54,NE,511,21:16:54,10,ESE,1491,visible
22,2019-06-06,-1.8,21:57:59,10,WNW,1492,22:00:37,21,SW,984,22:03:14,10,S,1489,visible
26,2019-06-07,-2.8,21:08:04,10,WNW,1492,21:11:16,42,SW,600,21:14:27,10,SSE,1489,visible
34,2019-06-09,-0.9,21:06:59,10,W,1489,21:08:42,13,SW,1298,21:10:24,10,SSW,1487,visible

In [13]:
above_alt_40 = df['culm_alt'] > 40. 
visible = df['pass_type'] == 'visible'
df[visible & above_alt_40][columns]

,date,mag,start,start_alt,start_az,start_d,culm,culm_alt,culm_az,culm_d,end,end_alt,end_az,end_d,pass_type
2,2019-06-01,-3.7,22:51:29,10,NW,1497,22:54:50,66,NE,455,22:58:10,10,SE,1494,visible
14,2019-06-04,-3.9,21:59:44,10,NW,1494,22:03:05,73,SW,435,22:06:25,10,SE,1491,visible
17,2019-06-05,-3.4,21:10:19,10,NW,1493,21:13:37,54,NE,511,21:16:54,10,ESE,1491,visible
26,2019-06-07,-2.8,21:08:04,10,WNW,1492,21:11:16,42,SW,600,21:14:27,10,SSE,1489,visible